.main {
  display: none;
  flex: 0 0 60px;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 1px var(--divider-color);
  padding: 0 15px;
}

.userName {
  flex: 1 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  flex: 0 0 auto;
  margin-left: 10px;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
  user-select: none;
}

.button:hover :global(.LogoutIcon__hoverStroke),
.button:hover :global(.PlusIcon__hoverStroke) {
  stroke: #66c072;
}

.button:hover :global(.LogoutIcon__hoverFill),
.button:hover :global(.PlusIcon__hoverFill) {
  fill: #66c072;
}

.button:active :global(.LogoutIcon__hoverStroke),
.button:active :global(.PlusIcon__hoverStroke) {
  stroke: #4ead5b;
}

.button:active :global(.LogoutIcon__hoverFill),
.button:active :global(.PlusIcon__hoverFill) {
  fill: #4ead5b;
}

.icon {
  width: 20px;
  height: 20px;
}


@media screen and (min-width: 700px) {
  .main {
    display: flex;
  }
}
