.main {
  flex: 70%;
  overflow-x: hidden;
}

.noConversationContainer {
  height: 100%;
}

.noConversation {
  position: relative;
  top: 30%;
  text-align: center;
  padding: 15px;
}

.logo {
  margin-bottom: 20px;
  max-height: 44px;
  width: 100%;
  opacity: 0.4;
  user-select: none;
}

.logoFull {
  display: none;
}

.hint {
  color: #444444;
}

.newChatIcon {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

@media screen and (min-width: 700px) {
  .logoFull {
    display: block;
  }

  .logoCompact {
    display: none;
  }
}