.ContentView {
  flex: 70%;
  overflow-x: hidden;
}

.ContentView__noConversationContainer {
  height: 100%;
}

.ContentView__noConversation {
  position: relative;
  top: 30%;
  text-align: center;
  padding: 15px;
}

.ContentView__logo {
  margin-bottom: 20px;
  width: 100%;
  max-width: 150px;
  height: 44px;
  opacity: 0.4;
  user-select: none;
}

.ContentView__hint {
  color: #444444;
}

.ContentView__newChatIcon {
  width: 20px;
  height: 20px;
  vertical-align: top;
}