.ContentView {
  flex: 70%;
  overflow-x: hidden;
}

.ContentView__hintContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(-15%);
}

.ContentView__hint {
  color: #444444;
}

.ContentView__newChatIcon {
  width: 20px;
  height: 20px;
  vertical-align: top;
}