.MessageInput {
  box-sizing: border-box;
  padding: 7px;
  display: flex;
  border-top: solid 1px #cccccc;
  flex: 0 0 auto;
  background-color: #efefef;
}

.MessageInput__input {
  flex: 1;
  margin: 3px 15px 4px 10px;
  padding: 9px 7px 10px 13px;
  background-color: white;
  border: none;
  border-radius: 25px;
  font-size: 15px;
}

.MessageInput__input:focus {
  outline: none;
}

.MessageInput__button {
  font-size: 15px;
  margin-top: 2px;
  margin-right: 9px;
  height: 39px;
}