.main {
  margin: 15px 35px;
}

.messageBody {
  display: inline-block;
  padding: 7px 11px;
  border-radius: 15px;
  max-width: 75%;
  line-height: 1.4;
  overflow-wrap: break-word;
}

.fromUs_synced, .fromUs_unsynced {
  text-align: right;
}

.fromUs_unsynced .messageBody {
  background-color: #d4f3d8;
}

.fromUs_synced .messageBody {
  background-color: #9ae7a4;
}

.fromThem {
  text-align: left;
}

.fromThem .messageBody {
  background-color: #e4e4e4;
}