.MessageView {
  margin: 15px 35px;
}

.MessageView__messageBody {
  display: inline-block;
  padding: 7px 11px;
  border-radius: 15px;
  max-width: 75%;
  line-height: 1.4;
  overflow-wrap: break-word;
}

.MessageView--us_synced, .MessageView--us_unsynced {
  text-align: right;
}

.MessageView--us_unsynced .MessageView__messageBody {
  background-color: #d4f3d8;
}

.MessageView--us_synced .MessageView__messageBody {
  background-color: #9ae7a4;
}

.MessageView--them {
  text-align: left;
}

.MessageView--them .MessageView__messageBody {
  background-color: #e4e4e4;
}