.ChatAppLoader {
  height: 100%;
  width: 100%;
}

.ChatAppLoader__loading {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.ChatAppLoader__loadingIcon {
  background-image: url("/img/loading.png");
  width: 40px;
  height: 40px;
  animation: rotateLoading 0.75s linear infinite;
}

@keyframes rotateLoading {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}