.ChatAppLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ChatAppLoader__loading {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.ChatAppLoader__loadingIcon {
  width: 40px;
  height: 40px;
}

.ChatAppLoader__errorMessage {
  color: #555555;
}