.AccountsView {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-120px);
  width: 300px;
}

.AccountsView__logoContainer {
  text-align: center;
}

.AccountsView__logo {
  width: 200px;
  height: 59px;
}

.AccountsView__accountsHeader {
  font-weight: normal;
  font-size: 25px;
}