.AccountsView {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  width: 700px;
}

.AccountsView__logoContainer {
  text-align: center;
  margin-bottom: 40px;
}

.AccountsView__logo {
  width: 200px;
  height: 59px;
}

.AccountsView__intro {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}

.AccountsView__accountsHeader {
  font-weight: normal;
  font-size: 25px;
  margin: 0;
}

.AccountsView__selector {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.AccountsView__tryNow {
  flex: 1 0;
  margin: 0 20px;
}

.AccountsView__divider {
  flex: 0 0 20px;
  margin-top: 120px;
  color: #999999;
}

.AccountsView__authenticate {
  flex: 1 0;
  margin: 0 20px;
  padding: 0 20px;
}