.signUpMessage {
  text-align: center;
}

.status {
  text-align: center;
  margin-top: 20px;
}

.loading {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.header {
  font-weight: normal;
  font-size: 25px;
  margin: 0;
}