a {
  text-decoration: none;
  color: #1892de;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:active {
  color: #74c5f7;
}

.textInput {
  width: 100%;
  font-size: 20px;
  padding: 7px;
  border: solid 1px #aaaaaa;
  border-radius:4px;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
  background-color: #66c072;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;;
  color: white;
  transition: background-color .15s ease-in-out
}

.button:hover, .button:focus {
  background-color: #83c78c;
}

.button:active {
  background-color: #47a353;
  transition: background-color .07s ease-in-out
}

.button:disabled {
  background-color: #acd1b3;
  cursor: unset;
}
