.LoadingIcon {
  display: inline-block;
  background-image: url("/img/loading.png");
  background-size: contain;
  animation: rotateLoadingIcon 0.75s linear infinite;
}

@keyframes rotateLoadingIcon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}